<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJZCuFgEzrtO7DtUjelv1xpVFdqvYP8gA</string>
	<key>GCM_SENDER_ID</key>
	<string>734935401282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aquarious.apeejaycrewmanagement</string>
	<key>PROJECT_ID</key>
	<string>apeejay-shipping-crew-app</string>
	<key>STORAGE_BUCKET</key>
	<string>apeejay-shipping-crew-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734935401282:ios:842d37adb811c356f27edb</string>
</dict>
</plist>